$bg-color: #fff;
$input-bg: #fff; // background for form inputs
$text-color: #0e0e10;
$theme-color: #8056eb;
$link-color: #323232;
$active-color: #5b24e7;
$border-color: #f1f1f1;
$disabled-color: #ddd;
$box_shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

$error_text : #ff0000;
$error_bg : #f9e5e5;
$info_text : #1f8a70;
$info_bg : #e8f3f0;

$primary: #000;
$secondary: #000;

$input_height: 45px;
$button_height: 45px;

$input_max_width: 453px;

$border_radius_input: 30px;
$border_radius_button: 8px;

// $container_wrapper_width : 1200px;