header {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 2px solid $border-color;

    .nav-wrapper {
        display: flex;

        .logo {
            margin-right: 32px;
        }

        nav {
            display: flex;
            align-items: center;
        }

        ul {
            display: flex;
            align-items: center;

            >li {
                padding: 10px;
            }
        }
    }

    .cta {
        margin-left: auto;
    }

}